@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.App {
  background-color: #fff;
  min-height: 100vh;
}

.wrapper{
  max-width: 600px;
  margin: auto;
}

.btn {
  background-color: #8ED0F9;
  border-radius: 15px;
  border: none;
  color: white;
  outline: none;
  grid-column: 3/4;
  justify-self: end;
  font-weight: bold;
  width: 120px;
}

.btn:active{
  transform: scale(1.2);
  transition: ease-in-out 150ms;
}

.btn-secondary{
  background: #df1a1a;
  margin-right: 15px;
  padding: 8px 0;
  width: 100px;
}
